
html, body{
    margin-left: 5%;
    margin-right: 5%;
    background-color: black;
}

@media all and (max-width: 500px) {
  body{
    color: brown;
  }
}

/*Singapore Maritime University (below nav-bar)*/
.main-title {
  font-family: "Frank Ruhl Libre", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  color: rgb(231, 246, 253);
  background-color: rgb(109, 64, 5);
  font-style: normal;
  display:flex;
  justify-content: center;
}

/*Below Singapore Maritime University*/
.main-text{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-optical-sizing: auto;
  font-weight: 150;
  font-style: normal;
}

/*content*/
.custom-box {
  background-color: brown;
  border: 1px solid rgb(0, 0, 0);
  color:azure;
  padding: 10px;
  font-size: 12px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

#Carousel{
  padding: 1%;
  max-width: 1200px;
  overflow: hidden;
  background-position: center;
  size: 20px;
}

/* The 4 card titles*/
.card-title {
  display: flex;
  justify-content:flex-start;
  flex-wrap: wrap;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  color: rgb(240, 17, 17);
  font-style: normal;
  overflow: hidden;
}

#batman{
    background-color: rgb(230, 15, 15);
    color: rgb(253, 253, 253);
    font-style: italic;
    padding: 5px;
    margin-top: 10%;
}

#superman{
  background-color: rgb(230, 15, 15);
  color: rgb(253, 253, 253);
  font-style: italic;
  padding: 5px;
  margin-top: 10%;
}

#spiderman{
  background-color: rgb(230, 15, 15);
  color: rgb(253, 253, 253);
  font-style: italic;
  padding: 5px;
  margin-top: 10%;
}

#ironman{
  background-color: rgb(230, 15, 15);
  color: rgb(253, 253, 253);
  font-style: italic;
  padding: 5px;
  margin-top: 10%;
}

.header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant: small-caps;
    font-weight: 200;
    font-style: oblique;
    font-stretch: extra-condensed;
}

/*flexbox*/

.flexbox-container {
  flex-wrap: 400px;
  display: flex;
  justify-self: auto;
  max-width: 100%;
}

.flexbox-item{
  width: 100%;
  margin: 10px;
  border: 3px solid #000000;
  background-color: rgba(243, 173, 120, 0.658);
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 0%;
}

.flexbox-item-1{
  min-height: 100px;
}

.flexbox-item-2{  
  min-height: 100px;
  flex-shrink: 0.8;
}

/*queries section*/
.mb-3 {
color:rgb(0, 0, 0);
}